.header__email{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin-right: 24px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: #FFFFFF;
}
@media screen and (max-width: 979px){
  .header__email{
    margin-right: 0px;
    margin-bottom: 18px;
  }
}