@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);
@import url(./__link/_type__logout/header__link_type_logout.css);
@import url(./__nav/header__nav.css);
@import url(./__email/header__email.css);
@import url(./__menu-icon/header__menu-icon.css);

@import url(./__logo-menu/header__logo-menu.css);

.header{
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 882px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px){
  .header{
    max-width: 582px;
  }
}

@media screen and (max-width: 979px){
  .header{
    max-width: 282px;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  .header.header_state_loggedOut{
    max-width: 282px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}